@font-face {
  font-family: ElMessiri;
  src: url(/Fonts/ElMessiri-VariableFont_wght.ttf);
}

@font-face {
  font-family: GenmunuLibre;
  src: url(/Fonts/GenmunuLibre-VariableFont_wght.ttf);
}

html {
  overflow-y: scroll;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d2b30;
}

header {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

nav {
  display: flex;
  background-color: #146c82;
  border: solid 5px #0e4958;
  align-items: center;
  justify-content: space-around;

  padding: 0% 5% 0% 2.5%;
  margin: 20px 0 0 0;

  width: 90%;

  font-family: ElMessiri;
  font-size: 1.8vw;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #25c7f0;
  text-decoration: none;

  border: ridge transparent;

  width: 10%;
  height: 80%;

  transition: 300ms ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #b3ebfa;
  background-color: #105668;
  border: ridge;
  text-shadow: 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
}

.headerImg {
  width: 5vw;
}

.currentPage {
  color: #eb6d1e;
}

.currentPage:hover,
.currentPage:focus {
  color: #ed7931;
  text-shadow: 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
}

.main {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.newsMain {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: #146c82;
  color: white;
  text-shadow: 2px 2px black;

  width: 90%;

  border: #0e4958 solid;
  border-width: 5px;

  margin: 60px 0 0 95px;
  padding: 1%;
}

.article a {
  font-family: ElMessiri;
  font-size: 1.8vw;
  color: white;

  text-decoration: none;
}

.article p {
  font-family: GenmunuLibre;
  font-size: vw;
}

.indexCareers {
  background-color: #146c82;
  border: solid #0e4958;
  border-width: 5px;

  margin: 60px 95px 0 0;
  padding: 2em;

  width: 75%;
}

.indexCareers h1 {
  font-size: 1.5vw;
}

.jobListing {
  margin-top: 15px;
  padding: 2% 0 2% 0;

  transition: 150ms ease-in-out;
}

.jobListing a {
  font-family: GenmunuLibre;
  font-size: 1.25vw;

  text-decoration: none;
  color: #d9f5fd;
}

.jobListing h4 {
  display: flex;
  justify-content: center;

  color: #ecfafe;
  font-size: 0.75vw;
  background-color: black;

  width: fit-content;

  border-radius: 2ch;

  margin-top: 1ch;
  padding: 2%;
  padding-left: 5px;
}

.jobListing a,
.jobListing h4 {
  margin-left: 2%;
}

.jobListing:hover {
  background-color: rgba(183, 206, 221, 0.42);
}

footer {
  background-color: #146c82;
  position: absolute;

  border-top: solid 5px #0e4958;

  margin-top: 6%;
  padding: 1%;

  width: 100%;

  font-size: 1vw;
}

footer div {
  display: flex;
  justify-content: space-evenly;
}

footer div a {
  margin-top: 5%;
}

footer div a button {
  border: solid;
  width: 100%;

  padding: 2%;
}

.footer-holder {
  position: relative;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0% 5%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 10%;
}

.aboutButtons {
  width: 150%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.aboutButtons a button,
.aboutButtons a {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2ch;

  text-decoration: none;

  height: 90%;
}

.aboutButtons button {
  width: 20ch;
  margin: 0 10%;
  margin-bottom: 10%;

  border: transparent;
  color: #b3ebfa;

  background-color: #6a0b82;

  background-image: linear-gradient(
    to bottom,
    rgba(106, 11, 130, 0.2),
    rgba(0, 0, 0, 0.4) 50%,
    rgba(106, 11, 130, 0.2)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px -3px #6a0b82;
}

.gameMain {
  display: flex;

  margin-top: 15ch;
  margin-left: 95px;

  width: 90%;

  background-color: #146c82;
  border: solid #0e4958 5px;
}

.gameImg {
  border-left: solid #0e4958 5px;

  width: 40%;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: white;
  text-shadow: 2px 2px black;

  padding: 0 3ch;
  margin: 2ch 0;
}

.gameinfo h5 {
  font-size: 2ch;
}

.gameInfo p {
  margin-bottom: 0.5ch;

  font-size: 5ch;
}

.articleNews {
  display: flex;
  background-color: #146c82;

  width: 90%;

  border: #0e4958 solid;
  border-width: 5px;

  margin: 60px 0 0 95px;
  padding: 1%;
}

.newsImg {
  width: 15ch;
  border: solid 2px #23292b;
}

.newsText {
  display: flex;
  flex-direction: column;

  color: white;
  text-shadow: 2px 2px black;

  margin-left: 1%;
}

.newsText a {
  text-decoration: none;
  color: white;

  font-size: 36px;
}

.companyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;

  margin-top: 7.5ch;
  padding: 1.5ch;

  background-color: #146c82;
  border: #0e4958 solid 5px;

  color: white;
  text-shadow: 2px 2px black;
}

.careersMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.careerOpenings {
  display: flex;
  flex-direction: column;

  margin-top: 5ch;

  width: 75%;

  background-color: #146c82;
  border: #0e4958 solid 5px;

  padding: 1.5ch;
}

.careerPageListing {
  display: flex;
  justify-content: space-between;

  font-size: 25px;

  color: white;
  text-shadow: 2px 2px black;

  padding: 1ch 0;

  border-top: solid 1px black;
}

.careerPageListing a {
  text-decoration: none;

  color: white;
  text-shadow: 2px 2px black;
}

.topLabels {
  padding: 1ch 0;

  display: flex;
  justify-content: space-between;

  font-size: 20px;

  width: 100%;

  color: white;
  text-shadow: 2px 2px black;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #b3ebfa;
}

.errorMajor {
  font-size: 10ch;
}

.errorMinor {
  font-size: 5ch;
}

.errorHomeButton {
  background-color: #105668;
  border-radius: 2ch;

  color: #b3ebfa;
  font-size: 7.5ch;
  text-decoration: none;

  margin-top: 15%;
  padding: 1.25% 2.5%;
}
