@font-face {
  font-family: ElMessiri;
  src: url(/Fonts/ElMessiri-VariableFont_wght.ttf);
}

html {
  overflow-y: scroll;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d2b30;
}

header {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

footer {
  background-color: #146c82;
  position: absolute;

  border-top: solid 5px #0e4958;

  margin-top: 6%;
  padding: 1%;

  width: 100%;

  font-size: 1vw;
}

footer div {
  display: flex;
  justify-content: space-evenly;
}

footer div a {
  margin-top: 5%;
}

footer div a button {
  border: solid;
  width: 100%;

  padding: 2%;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0% 5%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 10%;
}

.about h2 {
  align-self: center;
}

.aboutButtons {
  width: 150%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.aboutButtons a button,
.aboutButtons a {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2ch;

  text-decoration: none;

  height: 90%;
}

.aboutButtons button {
  width: 20ch;
  margin: 0 10%;
  margin-bottom: 10%;

  border: transparent;
  color: #b3ebfa;

  background-color: #6a0b82;

  background-image: linear-gradient(
    to bottom,
    rgba(106, 11, 130, 0.2),
    rgba(0, 0, 0, 0.4) 50%,
    rgba(106, 11, 130, 0.2)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px -3px #6a0b82;
}

nav {
  display: flex;
  background-color: #146c82;
  border: solid 5px #0e4958;
  align-items: center;
  justify-content: space-around;

  padding: 0% 5% 0% 2.5%;
  margin: 0.5% 1% 0% 1%;

  width: 90%;

  font-family: ElMessiri;
  font-size: 1.8vw;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #25c7f0;
  text-decoration: none;

  border: ridge transparent;

  width: 10%;
  height: 80%;

  transition: 300ms ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #b3ebfa;
  background-color: #105668;
  border: ridge;
  text-shadow: 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
}

.currentPage:hover,
.currentPage:focus {
  color: #ed7931;
  text-shadow: 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
}

.currentPage {
  color: #eb6d1e;
}

.headerImg {
  width: 5vw;
}

.article {
  background-color: #146c82;
  color: white;
  text-shadow: 2px 2px black;

  width: 65%;
  
  border: #0e4958 solid;
  border-width: 5px;
  
  margin: 4% 0 -2% 5%;
  padding: 1%;
}

.article h1 {
  font-family: ElMessiri;
  font-size: 1.8vw;
  padding-bottom: 2%;
}

.footer-holder {
  position: relative;
}

