@font-face {
  font-family: ElMessiri;
  src: url(/Fonts/ElMessiri-VariableFont_wght.ttf);
}

body {
  background-color: #5f0f40;
}

header {
  display: flex;
  align-items: stretch;
}

nav {
  display: flex;
  background-color: #146c82;
  border: solid 5px #0e4958;
  align-items: center;
  justify-content: space-evenly;

  padding: 0.5% 5% 0.5% 2.5%;
  margin: 0% 1% 0% 1%;

  width: 80%;

  font-family: ElMessiri;
  font-size: 32px;
}

nav a {
  color: #25c7f0;
  text-decoration: 0;
  margin-right: 6%;
  padding: 2% 5% 2% 5%;
}

nav a:hover {
  color: #b3ebfa;
  background-color: #105668;
  text-shadow: 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
}

.currentPage:hover {
  color: #ed7931;
  text-shadow: 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
}

.currentPage {
  color: #eb6d1e;
}

.headerImg {
  margin-left: 1%;
  border: solid 5px #0e4958;
  width: 7.5%;
}
